<td>
	<img src="{{track.image_small}}" class="coverart">
</td>
<td>
	<h4>{{track.name}}</h4>
	<h5 class="album">{{track.album.name}}</h5>
	{{#each track.artists}}
		<h6 class="artist">{{name}}</h6>
	{{/each}}
</td>
<td>
	<button type="button" class="btn orange add-to-queue">Add to queue</button>
</td>
<td>
	<button type="button" class="btn orange add-to-playlist">Add to playlist</button>
	<select></select>
</td>
<td>
	<button type="button" class="btn remove-from-playlist">Remove from playlist</button>
</td>
<td>
	<a href="#" title="">
		<img src="/img/{{track.source_type}}.png" alt="{{track.source_type}}">
	</a>
</td>