<td class="track-details">
	<h4>
		{{track.name}}
		{{#each track.artists}}
			 - {{name}} 
		{{/each}} - 
		{{track.album.name}}
	</h4>	
</td>
<td>
	<button type="button" class="btn from-playlist" title="Add to favourites"><i>{{icon 'icon-heart'}}</i></button>
</td>
<td>
	<button type="button" class="btn remove-from-playlist" title="Remove track from playlists"><i>{{icon 'icon-trash'}}</i></button>
</td>
<td>
	<button type="button" class="btn add-to-queue" title="Add track to queue(s)"><i>{{icon 'icon-queues-add'}}</i></button>
</td>
<td>
	<button type="button" class="btn add-to-playlist" title="Add track to playlist(s)"><i>{{icon 'icon-playlists'}}</i></button>
</td>