<td>
	<h4>{{track.name}}</h4>
	<h5 class="album">{{track.album.name}}</h5>
	{{#each track.artists}}
		<h6 class="artist">{{name}}</h6>
	{{/each}}
</td>
<td>
	<a href="#" class="add-to-queue">Add to queue</a>
</td>
<td>
	<a href="#" class="add-to-playlist">Add to playlist</a>
	<select></select>
</td>
<td>
	<a href="#" class="remove-from-playlist">Remove from playlist</a>
</td>
<td>
	<a href="#" title="">
		<img src="/img/{{track.source_type}}.png" alt="{{track.source_type}}">
	</a>
</td>