<td class="track-details">
	<span title="{{title}}">{{titleTruncated}}</span>
</td>
<!-- <td>
	<button type="button" class="" title="Add to favourites"><i>{{icon 'icon-heart'}}</i></button>
</td> -->
<td class="track-control">
	<button type="button" class="remove-from-playlist" title="Remove track from playlists"><i>{{icon 'icon-trash'}}</i></button>
</td>
<td class="track-control">
	<button type="button" class="add-to-queue" title="Add track to queue(s)"><i>{{icon 'icon-queues-add'}}</i></button>
</td>
<td class="track-control">
	<button type="button" class="add-to-playlist" title="Add track to playlist(s)"><i>{{icon 'icon-playlists'}}</i></button>
</td>