<td>
	<img src="{{track.image_small}}" class="coverart">
</td>
<td>
	<h4>
		{{track.name}}
		{{#each track.artists}}
			 - {{name}} 
		{{/each}} - 
		{{track.album.name}}
	</h4>	
</td>
<td>
	<button type="button" class="btn from-playlist"><i>{{icon 'icon-heart'}}</i></button>
</td>
<td>
	<button type="button" class="btn remove-from-playlist"><i>{{icon 'icon-trash'}}</i></button>
</td>
<td>
	<button type="button" class="btn add-to-queue"><i>{{icon 'icon-queues-add'}}</i></button>
</td>
<td>
	<button type="button" class="btn add-to-playlist"><i>{{icon 'icon-playlists'}}</i></button>
</td>
<!-- <td>
	<a href="#" title="">
		<img src="/img/{{track.source_type}}.png" alt="{{track.source_type}}">
	</a>
</td> -->