<div class="profile-image">
	{{#if avatar}}
		<img src="{{avatar}}" alt="{{displayName}}">
	{{else}}
		<img src="{{image}}0" alt="{{displayName}}">
	{{/if}}
</div>
<div class="profile-name">{{displayName}}</div>