<td>
	<img src="{{track.image_small}}" class="cover-art">
</td>
<td>
	<h4>{{track.name}}</h4>
	<h5>{{track.album.name}}</h5>
	{{#if track.artists}}
		<h6>{{track.artists.[0].name}}</h6>
	{{/if}}
</td>
<td>
	<button class="btn delete">Remove</button>
</td>
<td>
	<a href="#" title="">
		<img src="/img/{{track.source_type}}.png" alt="{{track.source_type}}">
	</a>
</td>